# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.history/
.scannerwork/*
sonar-project.properties
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vagrant
/public/uploads
/public/robots.txt
/public/css/app.*
/public/js/app.*
/public/css/all.*
/public/js/all.*
/public/css/child.*
public/mix-manifest.json
composer.phar
composer.lock
Thumbs.db
.DS_Store
Vagrantfile
yarn.lock
/public/fonts/vendor
/public/packages
package-lock.json
/public-copy
resources/views/site-html/
public/assets/site/css/all.css
public/assets/theme/css/layout.css
resources/sass/.sass-cache/
storage/temp/
storage/pressRelease/
public/files/
public/preview/
storage/secure/*
storage/debugbar/
storage/framework/
bower_components


clover.xml
cobertura.xml
reports/*
public/build

.env.local
/public/build
/public/mix-manifest.json
.idea
node_modules
bower_components
public/storage
public/hot

package-lock.json
.idea/*
.env.testing
.env
.env.backup
.php_cs.cache
.phpunit.result.cache
/nbproject
.scannerwork/*
sonar-project.properties
