.card {
    border-radius: var(--main-border-radius);
}

.box {
    border-radius: var(--main-border-radius);
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color--card);
    color: var(--main-text-color);
    width: 85%;
    max-width: 675px;
    min-height: 300px;

    
}
.img {
   
    width: 22%;
    height: 40%;
    top: 0;
    left: 120rem;
    background-image: url('../CurrentDay/assets/mountain.jpg');
    /* background-position: top, center; */
    border-radius: 1rem;
    /* background: darkturquoise; */
    font-size: initial;
    font-weight: 500;
    position: absolute;
    /* right: 42px; */
    /* left: 87rem; */
    background-repeat: no-repeat;
    /* margin: 0rem 0rem 0rem 119rem; */
    padding: 0px 0 0px 0px;
}
